<div class="card-container">
    <h2>Monthly Transactions</h2>
    <div class="form-container">
        <div class="row header">
            <h3 class="form-header">total balance</h3>
            <span>{{ balance.getTotal() }}</span>
        </div>
        <div class="row">
            <form [formGroup]="transactionForm">
                <app-dropdown [collectionItems]="transactionTypes" formControlName="type"  
                (valueChange)="onTypeChange($event)">
                </app-dropdown>
                <app-dropdown [collectionItems]="filteredCategories" formControlName="category">
                </app-dropdown>
                <app-input-text [customPlaceHolder]="placeHolder" formControlName="concept"></app-input-text>
                <app-input-number [customPlaceHolder]="placeHolder1" formControlName="amount"></app-input-number>
                <app-input-date [customPlaceHolder]="placeHolder2" formControlName="date"></app-input-date>
                <button class="button" type="button" (click)="onAddTransaction()">Add</button>
            </form>
        </div>
        <div class="row">
            <div class="transaction-list">
                <ul>
                    <li *ngFor="let transaction of balance.getTransactions()">
                        <span class="transaction-list-item">{{ transaction.date | date:'dd/MM/yyyy' }}</span>
                        <span class="transaction-list-item description">{{ transaction.concept }}</span>
                        <span class="transaction-list-item">{{ getTransactionCategory(transaction.category) }}</span>
                        <span [ngClass]="setAmountClass(transaction.type)">{{ transaction.amount | number: '5.1-2' }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
