<div class="card-container">
    <h2>Monthly Transactions</h2>
    <div class="form-container">
        <div class="row header">
            <h3 class="form-header">total balance</h3>
            <span>{{ balance.getTotal() }}</span>
        </div>
        <div class="row">
            <form [formGroup]="transactionForm">
                <app-dropdown [collectionItems]="transactionTypes" formControlName="type">
                </app-dropdown>
                <input type="text" formControlName="concept">
            </form>
        </div>
    </div>
</div>
