.drop-down {
    border:0;
    padding-bottom: 12px;
    padding-right:15px;
    padding-top:15px;
    font-size:12px;
    font-weight: bold;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.select-container {
    border-bottom: 1px solid #edecef;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}