@media screen and (min-width: 640px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sidebar {
        flex: 0 1 180px;
    }

    .content {
        flex-grow:1;
        flex-shrink: 1;
        flex-basis: 0%;
    }
}

.content {
    height:100vh;
    padding:10px;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    max-width: rem-calc(1200);
}

aside, section {
    box-sizing: border-box;
}

