.text-input {
    border:0;
    border-bottom: 1px solid #edecef;
    width:180px;
    height:40px;
    line-height: 5px;
    margin:0;
    padding-left:5px;
    padding-right:5px;
}

.input-container {
    margin-right:5px;
    margin-left:5px;
    display: inline-block;
}